<div class="container">
    <div class="row">
        <h1>h1 Exclusive</h1>
        <h2>h2 Exclusive</h2>
        <h3>h3 Exclusive</h3>
        <h4>h4 Exclusive</h4>
        <h5>h5 Exclusive</h5>
    </div>
</div>