<div class="row" id="exclusiveCallout">
    <div class="cal-12">

        <div class="well">
            <div class="page-header page-primary">
                <h1>Эксклюзив
                    <small>
                        &nbsp;&nbsp;&nbsp;Несколько слов...
                    </small>
                </h1>
            </div> <!-- end of page-header -->
            <div class="page-body">
                <h1 class="text-center">Эксклюзивные объекты недвижимости</h1>
                <h2 class="text-center">Аренда вилл и аппартаментов на Кипре</h2>
                <div class="alert alert-info" id="exclusiveAlert">
                    <h3 class="text-center">Здесь представлена недвижимость,
                        которая находится в эксклюзивном управлении компании Orange Holliday villas.
                    </h3>
                </div> <!-- end of exclusiveAlert -->

                <div class="row">
                    <div class="col-md-6 col-md-offset-3" id="exclusiveFilter">
                        <form class="form-horisontal">
                            <div class="form-group clearfix">
                                <label for="inputType" class="col-sm-4 control-label text-right">Тип сделки:</label>
                                <div class="col-sm-6">
                                    <select class="form-control ">
                                        <option value="1">Аренда посуточная</option>
                                        <option value="2">Аренда долгосрочная</option>
                                        <option value="3">Продажа</option>
                                    </select> <!-- end of dropdown -->
                                </div>
                            </div> <!-- end of form-group -->

                            <div class="form-group clearfix">
                                <label for="inputType" class="col-sm-4 control-label text-right">Тип объекта:</label>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option value="1">Аренда посуточная</option>
                                        <option value="2">Аренда долгосрочная</option>
                                        <option value="3">Продажа</option>
                                    </select> <!-- end of dropdown -->
                                </div>

                            </div> <!-- end of form-group -->
                        </form> <!-- end of form-horisontal -->
                    </div> <!-- end of exclusiveFilter -->
                </div>


            </div> <!-- end of page-body -->

        </div> <!-- end of well -->

    </div> <!-- end of cal-12 -->
</div> <!-- end of mainCallout -->
