<div class="carousel slide" id="mainCarousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#mainCarousel"></li>
        <li data-slide-to="1" data-target="#mainCarousel"></li>
        <li data-slide-to="2" data-target="#mainCarousel"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active" id="slide01">
            <div class="carousel-caption">
                <h4>Slide 01 message</h4>
                <p>Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                    не хас долор омиттам!
                </p>
            </div> <!-- end of carousel-caption -->
        </div> <!-- end of item -->

        <div class="item" id="slide02">
            <div class="carousel-caption">
                <h4>Slide 02 message</h4>
                <p>Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                    не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                </p>
            </div> <!-- end of carousel-caption -->
        </div> <!-- end of item -->

        <div class="item" id="slide03">
            <div class="carousel-caption">
                <h4>Slide 03 message</h4>
                <p>Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                    не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                    Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо.
                </p>
            </div> <!-- end of carousel-caption -->
        </div> <!-- end of item -->

    </div> <!-- end of carousel-inner -->

    <!-- Controls -->
    <a class="left carousel-control" data-slide="prev" href="#mainCarousel"><span class="icon-prev"></span></a>
    <a class="right carousel-control" data-slide="next" href="#mainCarousel"><span class="icon-next"></span></a>

</div> <!-- end of mainCarousel -->

<div class="row" id="mainCallout">
    <div class="cal-12">

        <div class="well">
            <div class="page-header page-primary">
                <h1>Недвижимость на Кипре
                    <small>
                        &nbsp;&nbsp;&nbsp;Несколько слов о том, что мы будем рады вам предложить...
                    </small>
                </h1>
            </div> <!-- end of page-header -->
            <div class="page-body">
                <p class="lead">
                    Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
                    фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при?
                </p>
                <p>
                    Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                    не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                    Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
                    перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
                    Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним
                    дицерет сеа, усу менандри цонсулату еи.
                </p>
                <p>
                    Лорем ипсум долор сит амет, не дицит легере еос, еос еу волутпат цомпрехенсам,
                    не хас долор омиттам! При утамур сингулис адиписцинг не, не алии ехерци дуо.
                    Тота игнота алияуандо ан яуо, хабео яуидам хендрерит те яуо. Меи ерипуит фацилис
                    перицулис не, виси адиписци ад меи. Вел прима интегре те, вениам адверсариум вим цу.
                    Долорум мнесарчум диссентиунт иус не, но агам примис видерер нец. Еа поссе миним дицерет
                    сеа, усу менандри цонсулату еи.
                </p>
                <p>
                    Лудус утрояуе оцурререт ет мел, видит цонтентионес ин иус! Яуот опортере те дуо,
                    фабеллас цонсулату еум еи. Ех солеат пхилосопхиа при? Сит ех оффициис перципитур,
                    ат яуо реяуе саперет фастидии, латине тациматес индоцтум хис еи! Про либрис епицуреи
                    цонституто те. Ет хас ехпетенда суавитате перицулис, вери орнатус при ин, ат вереар
                    апериам яуо. Нец аццусамус волуптатибус цу!
                </p>
                <p>
                    Цум ат виде нецесситатибус. Ид ест убияуе регионе бонорум! Еи ассум яуандо цонтентионес
                    еум, цу тамяуам дефинитионес хис, но цибо ноструд.
                </p>
            </div> <!-- end of page-body -->

        </div> <!-- end of well -->

    </div> <!-- end of cal-12 -->
</div> <!-- end of mainCallout -->



