header {
    min-width: 650px;
}

.header-block {
    height: 200px;
    background-image: url("../images/header.jpg");
    position: relative;
}

.header-block_logo {
    width: 265px;
    height: 150px;
    float: left;
    margin-left: 20px;
    margin-top: 30px;
}

.logo-img {
    width: 100%;
    height: 100%;
}

.panel.contacts-block {
    width: 253px;
    height: 107px;
    background-color: #f08000;
    float: right;
    position: relative;
    margin-right: 80px;
    /*right: 92px;*/
    /*top: 0;*/
}

.panel.message-block {
    width: 140px;
    height: 40px;
    background-color: #94c11f;
    /*display: inline-block;*/
    float: right;
    position: relative;
    margin-right: 130px;
    margin-top: 10px;
}

.navbar-inverse {
    background-color: #BCBCBC;
    border-color: #BCBCBC;
}

.nav li a {
    text-align: center;
    color: #ffffff !important;
}

.nav li a:hover {
    color: #23527c !important;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #204d74 !important;
    background-color: #BCBCBC;
}

.nav {
    margin-left: 30px;
}

.navbar-form {
    margin-top: 15px;
    margin-left: 120px;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}
/************************************
   New look test
 */

